:root {
    --size: 25vh;
    
}
body{
    background-color:darkslategray;
    margin: 0;
    padding: 0;
    
}
textarea{
    border-radius: 10px;
    border: solid 3px black;
    position: static;
    left: 35%;
    display: block;

}
textarea:hover { 
    border: solid 3px darkslategray;

}
input{
    background-color:dimgray;
    display: block;
    border-radius: 10px;
    border: solid 3px black;
    color: white;
    font-size: 20px;

}
input:hover {
    background-color: black;
    font-size: 15px;   

}
div.notes{
    /*background-color:slategrey;*/
    height: 10vh;
    width: var(--size);
    color: white;
    font-size: 15px;
    display: inline;

}
div.insert{
    position: absolute;
    display: inline-flex;
    left: 35%;
    color: white;
    font-size: 20px;

}
div.login_t{
    display: block;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}
a:hover {
    text-decoration: underline;

}
span{
    background-color: slategrey;
    color: black;
}